*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}
@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins/Poppins-Light.ttf");
    font-weight: normal;
}
@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins/Poppins-Medium.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins/Poppins-Regular.ttf");
    font-weight: 500;
}
@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins/Poppins-Bold.ttf");
    font-weight: 600;
}
@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins/Poppins-SemiBold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins/Poppins-Black.ttf");
    font-weight: 900;
}
body{
    font-family: "Poppins";
}
/* header_start */
.header{
    display: flex;
    flex-wrap: wrap;
    background-color: #0c426e;
    padding: 36px 0;
}
.header_inner{
    width: 90%;
    display: flex;
    margin: 0 auto;
}
.header_left{
    width: 40%;
}
.logo{
    width: 150px;
}
.logo img{
    width: 100%;
}
.header_right{
    width: 60%;
    display: flex;
    margin: 0 auto;
}
.menu ul{
    display: flex;
    flex-wrap: wrap;
}
.menu li{
    margin: 0 0 0 40px;
}
.menu li a{
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
}
.search{
    background: url("../images/cowsprite.png") no-repeat -109px -103px;
	width: 18px;
	height: 18px;
}
.header_search{
    padding: 6px 0 0 71px;
}
/* header_end */

/* banner_start */
.banner{
    background-color: #fafafa;
    padding: 114px 0;
}
.banner_inner{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}
.bannerLeft{
    width: 50%;
    margin: 18px auto 18px 0;
}
.bannerLeft h2{
    width: 64%;
    font-size: 40px;
    line-height: 50px;
    color: #060606;
    margin: 0 0 16px 0;
}
.bannerLeft p{
    width: 46%;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    color: #060606;
    margin: 0 0 32px 0;
}
.banner_link{
    display: flex;
}
.left_link{
    background-color: #0c426e;
    padding: 8px 14px;
    display: flex;
    margin: 0 14px 0 0;
}
.left_link a{
    font-size: 12px;
    text-transform: capitalize;
    color: #fff;
}
.right_link{
    background-color: #252525;
    padding: 8px 14px;
    display: flex;
}
.right_link a{
    font-size: 12px;
    text-transform: capitalize;
    color: #fff;
}
.right_link:hover{
    background-color: #0c426e;
}
.bannerRight{
    width: 50%;
    margin-right: -13px;
}
.car_img{
    width: 500px;
    margin: 0 auto;
}
.car_img img{
    width: 100%;
}
/* banner_end */

/* ourServices_start */
.ourServices{
    background-color: #fff;
    padding: 100px 0;
}
.ourServices_top{
    width: 80%;
    text-align: center;
    margin: 0 auto 82px;
}
.ourServices_top h2{
    font-size: 28px;
    text-transform: capitalize;
    color: #0c426e;
    position: relative;
}
.ourServices_top h2::after{
    content: " ";
    width: 50px;
    height: 6px;
    top: 85%;
    right: 50%;
    transform: translate(50%,50%);
    position: absolute;
    background-color: #252525;
    border-radius: 8px;
}
span{
    color: #252525;
}
.ourServices_inner{
    display: flex;
    flex-wrap: wrap;
}
.ourServices_content{
    width: 33.33%;
    text-align: center;
    margin: 0 auto;
}
.bottom_inner{
    width: 350px;
    background-color: #fff;
    box-shadow: 0 12px 30px #f7f7f7;
    overflow: hidden;
    padding: 0 0 24px 0;
    margin: 0 auto;
}
.content_img{
    width: 428px;
    margin: 0 0 14px 0;
}
.content_img img{
    width: 100%;
}
.content_img.middle{
    width: 398px;
    margin: 0 0 14px 0;
}
.content_img.right{
    width: 373px;
    margin: 0 0 14px 0;
}
.content_para{
    width: 85%;
    margin: 0 auto;
}
.content_para h3{
    font-size: 20px;
    text-transform: capitalize;
    color: #252525;
    margin: 0 0 10px 0;
}
.content_para p{
    font-size: 12px;
    line-height: 22px;
    font-weight: 500;
    color: #252525;
    margin: 0 0 10px 0;
}
.para_link{
    width: 95px;
    background-color: #252525;
    display: flex;
    padding: 10px 24px;
    margin: 0 auto;
}
.para_link a{
    font-size: 10px;
    text-transform: capitalize;
    color: #fff;
}
/* ourServices_end */

/* quality_start */
.quality{
    background-color: #fff;
    padding: 80px 0;
}
.qualityTop{
    width: 80%;
    text-align: center;
    margin: 0 auto 82px;
}
.qualityTop h2{
    font-size: 28px;
    text-transform: capitalize;
    color: #0c426e;
    position: relative;
}
.qualityTop h2::after{
    content: " ";
    width: 50px;
    height: 6px;
    top: 85%;
    right: 50%;
    transform: translate(50%,50%);
    position: absolute;
    background-color: #252525;
    border-radius: 8px;
}
.qualityBottom_inner{
    background-image: url("../images/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0 80px 0;
}
.qualityBottom_inner h4{
    font-size: 16px;
    text-align: center;
    text-transform: capitalize;
    color: #fff;
    margin: 0 0 40px 0;
}
.qualityBottom_inner p{
    width: 70%;
    font-size: 12px;
    line-height: 21px;
    text-align: center;
    color: #252525;
    margin: 0 auto 80px;
}
.quality_link{
    width: 135px;
    display: flex;
    background-color: #fff;
    padding: 12px 31px;
    margin: 0 auto;
}
.quality_link a{
    font-size: 12px;
    text-transform: capitalize;
    color: #0b0b0b;
}
/* quality_end */

/* whyChoose_start */
.whyChoose{
    background-color: #fff;
    padding: 100px 0;
}
.whyChoose_top{
    width: 80%;
    text-align: center;
    margin: 0 auto 82px;
}
.whyChoose_top h2{
    font-size: 28px;
    text-transform: capitalize;
    color: #0c426e;
    position: relative;
}
.whyChoose_top h2::after{
    content: " ";
    width: 50px;
    height: 6px;
    top: 85%;
    right: 50%;
    transform: translate(50%,50%);
    position: absolute;
    background-color: #252525;
    border-radius: 8px;
}
.choose_inner {
    display: flex;
    flex-wrap: wrap;
}
.choose_content{
    width: 33.33%;
    text-align: center;
    margin: 0 auto;
}
.whyChoose_inner{
    width: 300px;
    background-color: #fff;
    box-shadow: 0 6px 20px 4px #f8f8f8;
    overflow: hidden;
    padding: 0 0 24px 0;
    margin: 0 auto;
}
.choose_top{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
}
.choose_left{
    width: 30px;
    height: 30px;
    border: 2px solid #0c426e;
    border-radius: 100%;
    margin: 0 0 0 22px;
}
.choose_left a{
    font-size: 14px;
    font-weight: 700;
    color: #0c426e;
}
.choose_right h4{
    font-size: 14px;
    text-transform: capitalize;
    color: #0c426e;
    padding: 6px 0 0 14px;
}
.choose_bottom p{
    width: 92%;
    text-align: left;
    font-size: 12px;
    line-height: 22px;
    font-weight: 500;
    padding: 0 0 0 28px;
}
.whyChoose_inner:hover{
    background-color: #0c426e;
    color: #fff;
}
.choose_left:hover{
    width: 30px;
    height: 30px;
    border: 2px solid #fff;
    border-radius: 100%;
    margin: 0 0 0 22px;
}
.choose_left:hover a{
    font-size: 14px;
    font-weight: 700;
    color: #fff;
}
.choose_right h4:hover{
    font-size: 14px;
    text-transform: capitalize;
    color: #fff;
    padding: 6px 0 0 14px;
}
.whyChoose_inner.active{
    background-color: #0c426e;
    color: #fff;
}
.choose_left.active{
    width: 30px;
    height: 30px;
    border: 2px solid #fff;
    border-radius: 100%;
    margin: 0 0 0 22px;
}
.choose_left.active a{
    font-size: 14px;
    font-weight: 700;
    color: #fff;
}
.choose_right.active h4{
    font-size: 14px;
    text-transform: capitalize;
    color: #fff;
    padding: 6px 0 0 14px;
}
/* whyChoose_end */

/* testimonial_start */
.testimonial{
    background-color: #fff;
    padding: 100px 0;
}
.testimonial_top{
    width: 80%;
    text-align: center;
    margin: 0 auto 82px;
}
.testimonial_top h2{
    font-size: 28px;
    text-transform: capitalize;
    color: #252525;
    position: relative;
}
.testimonial_top h2::after{
    content: " ";
    width: 50px;
    height: 6px;
    top: 85%;
    right: 50%;
    transform: translate(50%,50%);
    position: absolute;
    background-color: #252525;
    border-radius: 8px;
}
.testimonial_inner{
    width: 70%;
    display: flex;
    margin: 0 auto;
}
.arr_left{
    width: 40px;
    height: 40px;
    display: flex;
    border-radius: 100%;
    background-color: #0c0c0c;
    margin: 80px 0;
}
.left_arr{
    background: url("../images/cowsprite.png") no-repeat -112px -163px;
	width: 16px;
	height: 15px;
    margin: 13px 12px;
}
.arr_left:hover{
    background-color: #0c426e;
}
.testimonial_para{
    width: 700px;
    background-color: #fff;
    box-shadow: 0 6px 20px 4px #f8f8f8;
    overflow: hidden;
    display: flex;
    padding: 20px 40px;
    margin: 0 auto;
}
.testimonial_img{
    width: 100px;
}
.testimonial_img img{
    width: 100%;
}
.testimonial_content{
    width: 80%;
    color: #0c0c0c;
    padding: 20px 0 0 28px;
}
.testimonial_content p{
    font-size: 12px;
    font-weight: 500;
    line-height: 22px;
    margin: 0 0 14px 0;
}
.testimonial_content h3{
    font-size: 16px;
    text-transform: uppercase;
}
.testimonial_content h4{
    font-size: 10px;
    font-weight: 500;
    color: #0c426e;
    text-transform: capitalize;
    margin: -5px 0 0 2px;
}
.arr_right{
    width: 40px;
    height: 40px;
    display: flex;
    border-radius: 100%;
    background-color: #0c426e;
    margin: 80px 0;
}
.right_arr{
    background: url("../images/cowsprite.png") no-repeat -112px -133px;
	width: 16px;
	height: 15px;
    margin: 13px 12px;
}
.arr_right:hover{
    background-color: #0c0c0c;
}
/* testimonial_end */

/* footer_start */
footer{
    background-color: #252525;
    padding: 120px 0 34px 0;
}
.footer_inner{
    width: 80%;
    display: flex;
    margin: 0 auto 64px;
}
.footer_content{
    width: 25%;
    text-align: center;
    color: #fff;
}
.footer_top h2{
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0 0 10px 0;
}
.footer_bottom, .footer_bottom3{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}
.content_footer{
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 6px 22px;
}
.location{
    background: url("../images/cowsprite.png") no-repeat -118px -196px;
	width: 11px;
	height: 16px;
    margin: 0 6px 0 28px;
}
.contact{
    background: url("../images/cowsprite.png") no-repeat -119px -223px;
	width: 13px;
	height: 18px;
    margin: 0 6px 0 28px;
}
.content_footer a, .bottom_content a{
    font-size: 11px;
    text-transform: capitalize;
    font-weight: 500;
    color: #929292;
}
.footer_bottom2{
    width: 34%;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    margin: 0 auto;
}
.footer_top.active{
    text-align: left;
    padding: 0 0 0 30px;
}
input {
    font-size: 12px;
    padding: 6px 14px 6px 6px;
    text-transform: capitalize;
    outline: none;
    margin: 0 0 10px 50px;
}
.subscribe{
    width: 50%;
    background-color: #0c426e;
    padding: 6px 20px;
    display: flex;
    margin: 0 0 0 50px;
}
.subscribe a{
    font-size: 10px;
    text-transform: uppercase;
    color: #fff;
}
.social_link{
    width: 12%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 90px;
}
.fb{
    background: url("../images/cowsprite.png") no-repeat -111px -291px;
	width: 29px;
	height: 29px;
    padding: 0 0 0 34px;
}
.insta{
    background: url("../images/cowsprite.png") no-repeat -215px -291px;
	width: 29px;
	height: 29px;
    padding: 0 0 0 34px;
}
.twitter{
    background: url("../images/cowsprite.png") no-repeat -146px -291px;
	width: 29px;
	height: 29px;
    padding: 0 0 0 34px;
}
.linkedin{
    background: url("../images/cowsprite.png") no-repeat -180px -291px;
	width: 29px;
	height: 29px;
    padding: 0 0 0 34px;
}
.copyWright{
    width: 36%;
    text-align: center;
    margin: 0 auto;
}
.copyWright a{
    font-size: 12px;
    font-weight: 500;
    color: #fff;
}
/* footer_end */